<ion-view title="">
<!-- header toggle button -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon toggle-left" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" style="top:0">
        <!-- scan button -->
        <div>
            <div class="round-button" ng-click="scanBarcode()">
                <div class="round-button-circle"><a href="#" class=""><i class="icon ion-ios-barcode-outline" style="font-size: 50px;"></i><div>Scan</div></a></div>
            </div>
        </div>

        <!-- history card list -->
        <div class="card-list">
            <ion-scroll direction="x" class="wide-as-needed">

                <!-- card -->
                <div class="card history-card" style="display:inline-block" ng-class="multipleCard ? 'multiple-card' : 'single-card'" ng-repeat="barcodeitem in historyBarcodeItemList">
                    <div class="item item-body history-card-body">

                        <!-- product name and date -->
                        <div class="row header">
                            <!-- product name -->
                            <div class="col-75 barcode-item-name">{{barcodeitem.detail.productname}}</div>
                            <!-- barcode captured date -->
                            <div class="col date">
                                <span>{{getYear(barcodeitem.date)}}</span><br/>
                                <span style="font-size:larger;color: #fff;">{{getDate(barcodeitem.date)}}</span><br/> 
                                <span class="small-font">{{getMonth(barcodeitem.date)}}</span></div>
                        </div>

                        <!-- barcode value -->
                        <div class="row barcode-date" style="margin-top: 5px;">
                            <div class="subdued" style="font-size:smaller"><i class="icon ion-ios-barcode" style="font-size: large;"></i>&nbsp;&nbsp;{{barcodeitem.barcode}} </div>
                        </div>

                    </div>

                    <!-- product price detail -->
                    <div class="row footer history-card-footer">
                        <div class="col" style="text-align: center;">
                            <span style="font-size:smaller">Price</span>
                            <br/><span ng-hide="barcodeitem.detail.dbType=='ebay'">{{barcodeitem.detail.sellingInfo.currentPrice.currency}}&nbsp; {{barcodeitem.detail.sellingInfo.currentPrice.price}}</span>
                            <span ng-show="barcodeitem.detail.dbType=='ebay'">USD &nbsp;{{barcodeitem.detail.sellingInfo.currentPrice.__value__}}</span>
                        </div>
                        <!-- share button -->
                        <div class="col">
                            <a class="tab-item" ng-click="shareAnywhere(barcodeitem.detail.productname,barcodeitem.detail.productname,barcodeitem.detail.imageurl,barcodeitem.detail.description)">
                                <i class="icon ion-share"></i>
                                <span style="font-size:smaller"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--                 <div class="card history-card" style="display:inline-block">


                    <div class="item item-body history-card-body">
                        <div class="row header">
                            <div>Kingston SSD 240GB 240G SSDnow V300 Solid State Drive New
                            </div>
                            
                        </div>
                        <p>
                            <a  class="subdued">UPC-1 </a>
                            <a  class="subdued"><i class="icon ion-ios-barcode" style="
    font-size: large;"></i>&nbsp;&nbsp;1234567890123 </a>


                        </p>
                    </div>

                    <div class="row footer history-card-footer">
                        <div class="col">
                            <span style="font-size:smaller">Price</span>
                            <br/><span>US $111.11</span>
                        </div>
                        <div class="col">
                            <span style="font-size:smaller">Sales Price</span>
                            <br/><span>US $71.11</span>
                        </div>
                        <div class="col">
                            <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                                <span style="font-size:smaller"></span>
                            </a>
                        </div>
                    </div>

                </div>




                
                <div class="card history-card" style="display:inline-block">


                    <div class="item item-body history-card-body">
                        <div class="row header">
                            <div class="col col-75">Kingston SSD 240GB 240G SSDnow V300 Solid State Drive New
                            </div>
                            <div class="col date"><span class="small-font">march</span>
                                <br/>23
                                <br/> <span class="small-font">Wed</span></div>
                        </div>
                        <p>
                            <a href="#" class="subdued">UPC-1 </a>
                            <a href="#" class="subdued"><i class="icon ion-ios-barcode" style="
    font-size: large;"></i>&nbsp;&nbsp;1234567890123 </a>


                        </p>
                    </div>

                    <div class="row footer history-card-footer">
                        <div class="col">
                            <span style="font-size:smaller">Price</span>
                            <br/><span>US $111.11</span>
                        </div>
                        <div class="col">
                            <span style="font-size:smaller">Sales Price</span>
                            <br/><span>US $71.11</span>
                        </div>
                        <div class="col">
                            <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                                <span style="font-size:smaller"></span>
                            </a>
                        </div>
                    </div>

                </div>
 -->
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
