<ion-view title="History">
    <!-- header toggle button -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon toggle-left" menu-toggle="left"></button>
    </ion-nav-buttons>
    <!-- header bar -->
    <ion-header-bar class="bar-dark"></ion-header-bar>

    <!-- history page content -->
    <ion-content>

        <!-- card list -->
        <div class="card history-card-full-detail" ng-repeat="barcodeitem in historyBarcodeItemList" style="border-top: 1px solid grey;">

            <!-- card body detail -->
            <div class="history-item item-body">

                <!-- favorite button -->
                <div class="favorite-container">
                    <a ng-click="toggleFavorite($index)">
                        <i class="icon ion-heart favorite" ng-class="barcodeitem.detail.favorite ? 'favorite-color' : ''"></i>
                    </a>
                </div>

                <!-- barcode item image -->
                <div class="history-item-img">
                    <img class="full-image" src="{{barcodeitem.detail.imageurl}}">
                </div>

                <!-- barcode item name and price -->
                <div class="row header">

                    <!-- barcode item name -->
                    <div class="col col-75">
                        <h4 class="info-header">{{barcodeitem.detail.productname}}</h4>
                    </div>

                    <!-- barcode item price for "ebay" -->
                    <div class="col price" ng-hide="barcodeitem.detail.dbType=='ebay'">
                        <div class="small-font price-label">Buy Now</div><span class="price-value">{{barcodeitem.detail.sellingInfo.currentPrice.currency}}&nbsp; {{barcodeitem.detail.sellingInfo.currentPrice.price}}</span></div>
                        <!-- barcode item price for searchUPC and UPC DB -->
                    <div class="col price" ng-show="barcodeitem.detail.dbType=='ebay'">
                        <div class="small-font price-label">Buy Now</div><span class="price-value">USD &nbsp;{{barcodeitem.detail.sellingInfo.currentPrice.price}}</span></div>

                </div>

                <!-- barcode value and barcode captured date -->
                <div class="row barcode-date">

                    <!-- barcode value -->
                    <div class="subdued col">
                        <i class="icon ion-ios-barcode" style="font-size: large;"></i>&nbsp;&nbsp;{{barcodeitem.barcode}} </div>

                    <!-- barcode captured date -->
                    <div class="subdued col">{{barcodeitem.date}} </div>

                </div>

                <!-- barcode description -->
                <p class="info-header">
                    {{barcodeitem.detail.description}}
                </p>

                <!-- barcode item shipping info for "ebay" -->
                <div class="info" ng-show="barcodeitem.detail.dbType=='ebay'">
                    <h4 class="info-header">shipping info</h4>
                    <div class="row">
                        <div class="col-75">Shipping Service Cost</div>
                        <div class="col-25">{{barcodeitem.detail.shippingInfo.shippingServiceCost['@currencyId']}} {{barcodeitem.detail.shippingInfo.shippingServiceCost['__value__']}}</div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Type</div>
                        <div class="col-25">{{barcodeitem.detail.shippingInfo.shippingType}}</div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Location</div>
                        <div class="col-25">{{barcodeitem.detail.shippingInfo.shipToLocations}}</div>
                    </div>
                    <div class="row">
                        <div class="col-75">Expendited Shipping</div>
                        <div class="col-25" ng-show="barcodeitem.detail.shippingInfo.expeditedShipping">Yes</div>
                        <div class="col-25" ng-hide="barcodeitem.detail.shippingInfo.expeditedShipping">No</div>
                    </div>
                    <div class="row">
                        <div class="col-75">Onday shipping available</div>
                        <div class="col-25" ng-show="barcodeitem.detail.shippingInfo.oneDayShippingAvailable">Yes</div>
                        <div class="col-25" ng-hide="barcodeitem.detail.shippingInfo.oneDayShippingAvailable">No</div>
                    </div>
                </div>

                <!-- barcode item listing info for "ebay" -->
                <div class="info" ng-show="barcodeitem.detail.dbType=='ebay'">
                    <h4 class="info-header">Listing info</h4>
                    <div class="row">
                        <div class="col-75">Best offer enabled</div>
                        <div class="col-25" ng-show="barcodeitem.detail.listingInfo.bestOfferEnabled">Yes</div>
                        <div class="col-25" ng-hide="barcodeitem.detail.listingInfo.bestOfferEnabled">No</div>
                    </div>
                    <div class="row">
                        <div class="col-75">Buy it now available</div>
                        <div class="col-25" ng-show="barcodeitem.detail.listingInfo.buyItNowAvailable">Yes</div>
                        <div class="col-25" ng-hide="barcodeitem.detail.listingInfo.buyItNowAvailable">No</div>
                    </div>
                </div>

            </div> 

            <!-- share button -->
            <div class="item barcode-detail-item info-header tabs tabs-secondary tabs-icon-left">
                <a class="tab-item info-header" ng-click="shareAnywhere(barcodeitem.detail.productname,barcodeitem.detail.productname,barcodeitem.detail.imageurl,barcodeitem.detail.description)" style="background-color: #0a9ec7;max-width: 100%;">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
        <!--  <div class="card history-card-full-detail">
            
            <div class="history-item item-body">
            <div><a ng-click="toggleFavorite($index)" >
                    <i class="icon ion-heart favorite" ></i> 
                </a>

               </div>
                <img class="full-image" src="http://ecx.images-amazon.com/images/I/51wHoFd2GaL._SL160_.jpg">
                
                <div class="row header">
                    <div class="col col-75">
                        <h4 class="info-header">Kingston SSD 240GB 240G SSDnow V300 Solid State Drive New</h4>
                    </div>
                    <div class="col price"><div class="small-font price-label">Buy Now</div><span class="price-value">USD 1234.23</span></div>
                </div>
                <div class="row barcode-date">
                    
                    
                        <p class="subdued col"><i class="icon ion-ios-barcode" style="
    font-size: large;"></i>&nbsp;&nbsp;123456789 </p>
                        <p class="subdued col">2015-03-30 </p>
                    
                </div>
                <p class="info">
                    discription
                </p>
                <div class="info">
                    <h4 class="info-header">shipping info</h4>
                    <div class="row">
                        <div class="col-75">Shipping Service Cost</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Type</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Location</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Expendited Shipping</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Onday shipping available</div>
                        <div class="col-25"></div>
                    </div>

                </div>
                <div class="info">
                    <h4 class="info-header">Listing info</h4>
                    <div class="row">
                        <div class="col-75">Best offer enabled</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Buy it now available</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Location</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Start time</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">End time</div>
                        <div class="col-25"></div>
                    </div>

                </div>
            </div>

<div class="item tabs info-header tabs-secondary tabs-icon-left">
              

                <a class="tab-item" href="#" style="
    background-color: #0a9ec7;max-width: 100%;
">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>


        <div class="card history-card-full-detail">
            
            <div class="history-item item-body">
            <div><a ng-click="toggleFavorite($index)">
                    <i class="icon ion-heart favorite"></i> 
                </a></div>
                <img class="full-image" src="http://ecx.images-amazon.com/images/I/51wHoFd2GaL._SL160_.jpg">
                

               
                <div class="row header">
                    <div class="col col-75">
                        <h4 class="info-header">Kingston SSD 240GB 240G SSDnow V300 Solid State Drive New</h4>
                    </div>
                    <div class="col price"><div class="small-font price-label">Buy Now</div><span class="price-value">USD 1234.23</span></div>
                </div>
                <p class="info">
                    discription
                </p>
                <div class="info">
                    <h4 class="info-header">shipping info</h4>
                    <div class="row">
                        <div class="col-75">Shipping Service Cost</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Type</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Location</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Expendited Shipping</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Onday shipping available</div>
                        <div class="col-25"></div>
                    </div>

                </div>
                <div class="info">
                    <h4 class="info-header">Listing info</h4>
                    <div class="row">
                        <div class="col-75">Best offer enabled</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Buy it now available</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Shipping Location</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">Start time</div>
                        <div class="col-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-75">End time</div>
                        <div class="col-25"></div>
                    </div>

                </div>
            </div>

<div class="item tabs info-header tabs-secondary tabs-icon-left">
              

                <a class="tab-item" href="#" style="
    background-color: #0a9ec7;max-width: 100%;
">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div -->
    </ion-content>
</ion-view>
